<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body}, 'برنامه‌ی امتحانات')}">
<head>
    <meta charset="UTF-8">
    <title>Exam Time Table</title>
    <link rel="stylesheet" href="../../static/CSS/Style.css"
          th:href="@{/CSS/Style.css}">
</head>
<body  class="send_container_to_center">
    <div style="width:auto;">
        <div>
            <h3 class="table_header">برنامه ی امتحانات</h3>
            <hr class="table_header_hr">
        </div>
        <table class="quiz_table">
            <thead>
                <tr>
                    <th class="table_title">
                        نام درس            
                    </th>
                    <th class="table_title">
                        استاد
                    </th>
                    <th class="table_title">
                        تاریخ امتحان
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="exam: ${exams}" class="quiz_table_values">
                    <td th:text="${exam.course.name}" class="quiz_table_index">IE</td>
                    <td th:text="${exam.instructor.name}" class="quiz_table_index">Professor Morteza Noferessti</td>
                    <td th:text="${exam.examDate}" class="quiz_table_index">2021/10/11 11:00:00 AM</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>