<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body}, 'دروس ارائه شده ترم')}">
<head>
    <meta charset="UTF-8">
    <title>Enroll</title>
    <link rel="stylesheet" href="../../static/CSS/Style.css"
          th:href="@{/CSS/Style.css}">
</head>
<body class="send_container_to_center">
    <div style="width: auto;">
        <div>
            <h3 class="table_header">دروس ارائه شده ترم</h3>
            <hr class="table_header_hr">
        </div>
        <div class="isa_error" th:if="${err != null}">
            <ul>
                <li th:text="${err}">Error!</li>
            </ul>
        </div>
        <table class="program_content">
            <thead>
            <tr>
                <th class="table_title">نام درس</th>
                <th class="table_title">استاد</th>
                <th class="table_title">برنامه کلاسی</th>
                <th class="table_title">امتحان</th>
                <!-- <th class="table_title">Enroll</th> -->
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="lesson" type="com.example.demo.model.InstructorCourse"*/-->
                <tr th:each="lesson: ${lessonList}" class="quiz_table_index">
                    <td th:text="${lesson.course.name}">Internet Engineering</td>
                    <td th:text="${lesson.instructor.name + ' ' + lesson.instructor.family}">
                        Professor Morteza Noferesti
                    </td>
                    <td th:object="${lesson.timeTable}">
                        <span th:if="*{saturday != null}" th:text="'شنبه: ' + *{saturday}"/>
                        <span th:if="*{sunday != null}" th:text="'یکشنبه: ' + *{sunday}"/>
                        <span th:if="*{monday != null}" th:text="'دوشنبه: ' + *{monday}"/>
                        <span th:if="*{tuesday != null}" th:text="'سه‌شنبه: ' + *{tuesday}"/>
                        <span th:if="*{wednesday != null}" th:text="'چهارشنبه: ' + *{wednesday}"/>
                        <span th:if="*{thursday != null}" th:text="'پنج‌شنبه: ' + *{thursday}"/>
                    </td>
                    <td th:text="${lesson.examDate}">2021/12/12 14:12:12</td>
                    <td><a th:href="@{/student/enrollment/__${lesson.id.courseId}__/__${lesson.id.instructorId}__}">
                        <button type="submit" class="enroll_btn">انتخاب</button>
                    </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <p>heloo</p> -->
</body>
</html>