<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/admin/admins}" th:object="${admin}">
  <div th:if="${#fields.hasErrors('*')}">
    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
  </div><br>
  <p th:if="${#fields.hasErrors('username')}" th:text="${'username ' + #fields.errors('username')}"/>
  <input type="text" th:field="*{username}" placeholder="username"/> <br>
  <p th:if="${#fields.hasErrors('password')}" th:text="${'Password: ' + #fields.errors('password')}"/>
  <input type="password" placeholder="Password" th:field="*{password}"><br>
  <p th:if="${#fields.hasErrors('name')}" th:text="${'Name: ' + #fields.errors('name')}"/>
  <input type="text" placeholder="Name" th:field="*{name}"><br>
  <p th:if="${#fields.hasErrors('family')}" th:text="${'Family name: ' + #fields.errors('family')}"/>
  <input type="text" placeholder="Family Name" th:field="*{family}"><br>
  <p th:if="${#fields.hasErrors('nationalId')}" th:text="${'nationalId: ' + #fields.errors('nationalId')}"/>
  <input type="text" placeholder="National Id" th:field="*{nationalId}"><br>
  <button type="submit">Submit</button>
</form>


<table th:if="${!admins.isEmpty()}">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Family Name</th>
    <th>Username</th>
  </tr>

  </thead>
  <tbody>
  <!--/*@thymesVar id="admin" type="com.example.demo.model.Admin"*/-->
  <tr th:each="admin: ${admins}">
    <td th:text="${admin.id}">1</td>
    <td th:text="${admin.name}">Iman</td>
    <td th:text="${admin.family}">Ahrari</td>
    <td th:text="${admin.username}">iahrari</td>
  </tr>
  </tbody>
</table>
</body>
</html>