<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>
            <button><a th:href="@{/admin/new-term}">New Term</a></button>
        </li>
        <li>
            <button><a th:href="@{/admin/new-admin}">New Admin</a></button>
        </li>
        <li>
            <button><a th:href="@{/admin/new-course}">New Course</a></button>
        </li>
        <li>
            <button><a th:href="@{/admin/new-instructor}">New Instructor</a></button>
        </li>
        <li>
            <button><a th:href="@{/admin/new-student}">New Student</a></button>
        </li>
        <li>
            <button><a th:href="@{/admin/new-term}">New Term</a></button>
        </li>
    </ul>
</body>
</html>