<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body}, 'ثبت دانشجوی جدید')}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/CSS/Style.css"
          th:href="@{/CSS/Style.css}">
</head>

<body class="send_container_to_center">
<div style="width: auto;">
    <div>
        <div>
            <h3 class="table_header">ثبت دانشجو</h3>
            <hr class="table_header_hr">
        </div>
        <form method="post" th:action="@{/admin/students}" th:object="${student}" class="admin_form">
            <div class="isa_error" th:if="${#fields.hasAnyErrors()}">
                <ul>
                    <li th:each="err: ${#fields.allErrors()}" th:text="${err}">Error!</li>
                </ul>
            </div>
            <label for="username" class="admin_form_lable">شناسه کاربری :</label><br>
            <input type="text" th:field="*{username}" placeholder="نام کاربری" class="admin_form_input"/> <br>
            <label for="password" class="admin_form_lable">رمزعبور :</label><br>
            <input type="password" placeholder="رمز عبور" th:field="*{password}" class="admin_form_input"><br>
            <label for="Name" class="admin_form_lable">نام :</label><br>
            <input type="text" placeholder="نام" th:field="*{name}" class="admin_form_input"><br>
            <label for="Family Name" class="admin_form_lable">نام خانوادگی :</label><br>
            <input type="text" placeholder="نام خانوادگی" th:field="*{family}" class="admin_form_input"><br>
            <label for="National Id" class="admin_form_lable">کد ملی :</label><br>
            <input type="text" placeholder="کد ملی" th:field="*{nationalId}" class="admin_form_input"><br>
            <button type="submit" class="admin_form_btn">ثبت</button>
        </form>
        <div>
            <h3 class="table_header">لیست دانشجویان</h3>
            <hr class="table_header_hr">
        </div>
        <table class="quiz_table">
            <thead>
            <tr>
                <th class="table_title">شناسه</th>
                <th class="table_title">نام</th>
                <th class="table_title">نام خانوادگی</th>
                <th class="table_title">نام کاربری</th>
            </tr>

            </thead>
            <tbody>
            <!--/*@thymesVar id="stu" type="com.example.demo.model.Student"*/-->
            <tr th:each="stu: ${students}" class="quiz_table_values">
                <td th:text="${stu.username}" class="quiz_table_indexs">1</td>
                <td th:text="${stu.name}" class="quiz_table_indexs">Mostafa</td>
                <td th:text="${stu.family}" class="quiz_table_indexs">Nazari</td>
                <td th:text="${stu.username}" class="quiz_table_indexs">mos</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>