<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.name}">Internet Engineering</title>
</head>
<body>
<h3 th:text="${course.name}">Internet Engineering</h3>
<h4 th:text="${'Set grade for ' + studentUsername}">Set grade for 9712325001</h4>
<form method="post"
      th:action="@{/instructor/courses/__${course.id}__/__${studentUsername}__}"
      th:object="${grade}">
    <label for="grade">Grade: </label>
    <input type="number" th:field="*{grade}" id="grade">
    <button type="submit">Submit</button>
</form>
</body>
</html>